.pics {
    display: flex;
}

.card {
    padding: 5px;
    border-radius: 5px;
}

.card img {
    border-radius: 10px;
}

.card-img-overlay {
    width: 10%;
}

.card-title {
    color: aquamarine;
}